<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta property="og:title" content="Afterglow | {{ TITLE }}" />
    <meta property="og:url" content="{{ URL }}" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="WebGL Afterglow by Yu Hui" />
    <meta
      property="og:image"
      content="https://github.com/AlvinMi/afterglow{{ COVER }}"
    />

    <title>Afterglow</title>
    <link rel="stylesheet" type="text/css" href="../../assets/css/main.css" />
    <script src="../../assets/js/bundle.js"></script>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
